img {
  width:100%;
}

.title {
  background-color: #ffcc00;
  font-size: 72px;
  font-style: 
}

.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

h1 {
  font-family: Helvetica;
  
}


  
